<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ridhoafnidev.subfeature.pakar">

    <application>
        <activity
            android:name="com.ridhoafnidev.subfeature.pakar.PakarActivity"
            android:exported="true"
            android:theme="@style/BaseTheme"/>
    </application>

</manifest>