<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.subfeature.nilai_siswa">

    <application>
        <activity
            android:name=".NilaiSiswaActivity"
            android:exported="false" />
    </application>

</manifest>